<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Play:wght@700&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Local CSS -->
    <link rel="stylesheet" href="/CSS/style.css">

    <title>Fitness Tracker</title>
</head>

<body>

    <header>
        <nav>
            <ul>
                <li>
                    <a href="/" class="menu">HOME</a>
                </li>
                <li>
                    <a href="/workouts" class="menu">VIEW WORKOUTS</a>
                </li>
                <li>
                    <!--  -->
                    <a href="/logout" class="menu">LOGOUT</a>
                    <!-- -->
                    <a href="/auth/google" class="menu">LOGIN</a>
                    <!--  -->
                </li>
                
            </ul>
        </nav>

    </header>