<%- include('../partials/header') -%>

<main>

  <form id='new-form' action="/workouts/<%= workoutId %>?_method=PUT" method="POST">
    <h3 id='head'>Edit Workout</h3>
    <label>Workout Type</label>
    <select name="workout">
      <option value="Walk">Walk</option>
      <option value="Run">Run</option>
      <option value="HIIT">HIIT</option>
      <option value="Weights">Strength Training</option>
      <option value="BodyWeight">BodyWeight Exercises</option>
    </select>
    <label class='label'> Intensity Level
      <select name="intensity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </label>
    <label class='label'>Workout Date and Time
      <input type='date' name="date">
    </label>
    <input type="submit" value="Edit Workout">
    </form>

</main>

<%- include('../partials/footer') -%>