<%- include('../partials/header') -%>

<main>

  <form id='new-form' action="/workouts/<%= workoutId %>?_method=PUT" method="POST">
    <h3 id='head'>Edit Workout</h3>
    <label>Workout Type</label>
    <select name="workout">
      <option value="Walk">Walk</option>
      <option value="Run">Run</option>
      <option value="Hiit">Hiit</option>
      <option value="Weights">Strength Training</option>
      <option value="Bodyweight">BodyWeight Exercises</option>
    </select>
    <label class='label'> Intensity Level
      <select name="intensity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </label>
    <label class='label'>Workout Date and Time
      <input type='datetime-local' name="date">
    </label>
    <input type="submit" value="Add Workout">
  </form>
  <span>
    <a href="/workouts/<%= workoutId %>">Cancel</a>
  </span>
</main>

<%- include('../partials/footer') -%>