<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkOuts</title>
</head>
<body>
    <h1>WorkOuts</h1>

    <form action="" method="POST">
        <label>Log Your WorkOuts</label>
        <select name="workoutSchema">
            <option value="walk">Walk</option>
            <option value="run">Run</option>
            <option value="hiit">HIIT</option>
            <option value="weights">Weights</option>
            <option value="bodyweight">BodyWeight</option>
            <input type="submit" value="Add Workout">
        </select>
    </form>
</body>
</html>