<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Workout Details</title>
</head>
<body>
    <main>
    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper purple">
            <a href="" class="brand-logo left">Fitness Tracker</a>
            <ul class="right">
                <li><a href="/workouts">View Workouts</a></li>
                <!-- Place Login UI Here -->
            </ul>
          </div>
        </nav>
      </div>
    
       
            <thead>
                <th>WorkOut Type</th>
                <th>Intensity Level</th>
                <th>Date</th>
                    <p><%= workout.workout %> </p>
                   <p> <%= workout.intensity %></p>
                   <p> <%= workout.date %></p>
            </thead>

            <a href="/workouts/<%= workout._id %>/edit">
                <input type="button" value='Edit Workout'>
            </a>
           
            
            
         
    
   
</main>
</body>
</html>