<%- include('./partials/header') -%>

<main>

  <h1 id='head'>Fitness Tracker</h1>
 
  <div class="index-div">
    <a id='lower' href="/workouts"><i class="fas fa-heartbeat"></i>   Track Your Fitness</a>
  </div>
  
  <div class="index-div">
    <a id='lower' href="/workouts/new"><i class="fas fa-dumbbell"></i>  Add New Workout</a>
  </div>
  <ul>
    <li>
  <div class= "index-div">
    <div class="drop">
    <button class="btn">Great Free Workout Resources</button>
    <div class="drop-content">
    <a id= "lower" href="https://darebee.com/workouts.html">Free Workouts</a>
    <a id= "lower" href="https://darebee.com/challenges.html">30 Day Challenges</a>
    <a id= "lower" href="https://darebee.com/running.html">Running</a>
    <a id= "lower" href="https://darebee.com/programs/30-days-of-hiit.html">HIIT</a>
    <a id= "lower" href="https://darebee.com/programs/ironborn-program.html">Dumbell Workout</a>
    </div>
    </div>
  </div>
</li>
<li>
  <div class= "index-div">
    <div class="drop">
    <button class="btn">Free Nutrition Plans</button>
    <div class="drop-content">
    <a id= "lower" href="https://darebee.com/nutrition.html">Nutritional Info</a>
    <a id= "lower" href="https://darebee.com/mealplans.html">MealPlans</a>
    <a id= "lower" href="https://darebee.com/recipes.html">Recipes</a>
    </div>
    </div>
  </div>
</li>
</ul>

</main>

<%- include('./partials/footer') -%>