<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>Fitness Tracker</title>
</head>

<body>


  <nav class="nav">

    <ul>
      <li>
        <a href="/">Home</a>
      </li>


      <li>
        <a href="/workouts">View Workouts</a>
      </li>
      <!-- Place Login UI Here -->


      <li>
        <a href="/logout">Logout</a>
        <a href="/auth/google">Login</a>
      </li>


    </ul>
  </nav>
  <main class="index-landing">



    <h1 id='head'>Fitness Tracker</h1>

    <div>
      <a id='lower' href="/workouts">Track Your Fitness Here</a>
    </div>
    <div>
      <a id='lower' href="/workouts/new">Add A Workout</a>
    </div>

  </main>
  <footer>

    <p>Copyright &copy; Grant Ferreira
    </p>


  </footer>


</body>

</html>