<%- include('./partials/header') -%>

<main>

  <h1 id='head'>Fitness Tracker</h1>

  <div class="index-div">
    <a id='lower' href="/workouts">-Track Your Fitness Here-</a>
  </div>
  <div class="index-div">
    <a id='lower' href="/workouts/new">-Add A Workout-</a>
  </div>

</main>

<%- include('./partials/footer') -%>