:root {
    --font-heading: 'Play', sans-serif;
    --font-body: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: linear-gradient(60deg , #030f58, #071da8, #77acb1, #77acb1);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
  /*
    @keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

*/









.menu {
    color: #FFFFFF;
    text-decoration: none;
}

#head {
    font-family: var(--font-heading);
    font-size: 75px;
    color: #FFFFFF;
    text-shadow: 2px 2px 5px rgb(44, 77, 115);
}

#lower {
    font-family: var(--font-body);
    font-size: 25px;
    color: #FFFFFF;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    width: 100%;
    position: relative;
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-position-y: 65%;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

ul li {
    list-style-type: none;
    margin-right: 15px;
    font-family: var(--font-heading);
    font-size: 20px;
    padding: 8px;
}

ul li:hover {
    background: #77acb1;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
}

.index-div {
    padding: 10px;
}

#new-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-gap: 10px;
    border: 4px solid #77acb1;
    padding: 40px;
    background: #d6d5d4 ;
    box-shadow: 1px 1px 15px 1px rgb(36, 80, 145);
    font-family: var(--font-body);

}

#new-form * {
    padding: 5px;
    border-radius: 5px;
}

table,
th,
td {
    border: 1px solid rgb(44, 77, 115);
}

.delete {
    display: inline-block;
    margin: 10px;
    color: red;
}



.btn {
    
        background-color: #FFFFFF;
        font-family: var(--font-heading);
        color: #071da8;
        padding: 22px;
        font-size: 16px;
        border: none;
        border-radius: 12px;
        border: 1px solid black; 
      
}

.drop {
    position: relative;
    display: inline-block;
  }

  .drop-content {
    
        display: none;
        position: absolute;
        background-color: rgb(75, 70, 70);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      
  }

  .drop-content a {
    
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      
  }

  .drop-content a:hover {
      background-color: #77acb1; 
    }

    
    .drop:hover .drop-content {
            display: block;
        }

    .drop:hover .button {
        background-color: #3e8e41;
    }



footer {
    display: flex;
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-image: url('/img/footer.jpg');
    background-position-y: 74%;
    background-size: cover;
}

p {
    font-family: var(--font-body);
    font-size: 14px;
    color: #77acb1;
    text-shadow: 0px 1px 1px rgb(44, 77, 115);
}

.detail {
    font-family: var(--font-body);
    font-size: 20px;
    color: #071da8;
    text-shadow: 0px 1px 1px rgb(44, 77, 115);
}

.edit {
    font-size: 14px;
    color: #071da8;
    text-shadow: 0px 1px 1px rgb(44, 77, 115);

}


