body {
    background-color: rgb(72, 114, 176)
}

#head {
    font-size: 50px;
    color: rgb(23, 79, 143)
}

#lower {
    font-size: 25px;
    color: rgb(44, 77, 115)

}

nav {
    width: 100%;
    background-color: rgb(148, 155, 150);
    display: flex;
    align-items: center
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    display: inline;
    float: right;
    justify-content: right;
  }

  ul a:hover{
      background-color: gray;
  }


main {
    margin: auto 0;
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow: auto;
    color: black;
    
}

#new-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-gap: 10px;
    border: 3px solid #FFFFFF;
    padding: 40px;
    background: rgba(173, 121, 61);
    box-shadow: 1px 1px 15px 1px rgb(36, 80, 145);
    
}
#new-form * {
    padding: 5px;
    border-radius: 5px;
}

table, th, td {
    border: 1px solid rgb(44, 77, 115)
}

p {
    color: black;
}

